@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  padding: 10rem 0 0 0;
  max-width: 85vw;
  margin: 0 auto;
  @include respond(phone) {
    width: 100%;
    padding: 0;
    margin: 6rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    &--logo {
    }
  }
}
