@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  width: 85%;
  height: 100%;
  position: relative;
  @include respond(phone) {
    margin-top: 15rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--text {
      font-size: 1.8rem;
      color: $color-primary;
      margin: 1.5rem 0;
      @include respond(phone) {
        text-align: center;
        font-size: 2.2rem;
      }
    }

    &--img {
      width: 60rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @include respond(phone) {
        position: static;
        width: 100%;
      }
    }
  }
}
