@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__main {
  }
  &__logo {
    margin-right: auto;
  }
  &__link {
    margin-left: 6rem;
    font-size: 2rem;
    text-decoration: none;

    &:link,
    &:visited {
      color: $color-primary;
    }
    &:hover {
      cursor: pointer;
      color: hsla(239, 22%, 44%, 0.747);
    }
  }
  &__btn {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
  }
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .navigation {
    &__main {
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(10px);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;

      /* 1) Hide it visually */
      opacity: 0;

      /* 2) Make it unaccessible to mouse and keyboard */
      pointer-events: none;

      /* 3) Hide it from screen readers */
      visibility: hidden;
    }

    .nav-open &__main {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    &__link {
      &:link,
      &:visited {
        font-size: 3rem;
      }
    }
  }

  .hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }

  .hamburger__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 9999;
  }

  .hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    transition: background-color 0.3s;
  }

  .hamburger__inner::before,
  .hamburger__inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    transition: transform 0.3s 0.1s;
  }

  .hamburger__inner::before {
    top: 10px;
  }

  .hamburger__inner::after {
    top: -10px;
  }

  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }

  .hamburger--active .hamburger__inner::before {
    transform: translatey(-10px) rotate(45deg);
  }

  .hamburger--active .hamburger__inner::after {
    transform: translatey(10px) rotate(-45deg);
  }
}
