@use "./base" as *;

%heading {
  font-family: $font-primary;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 3rem;
  line-height: 1;
  color: $color-Dark-Charcoal;

  @media only screen and (max-width: 39em) {
    margin-top: 3rem;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 2rem;
  color: $color-Wenge-Brown;
  line-height: 1;
}

.heading-3 {
  @extend %heading;
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-primary-2;
  font-family: $font-display;
  text-transform: capitalize;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}
