@keyframes moveInBottom {
  0% {
    transform: translateY(-70%);
  }

  30% {
    transform: translateY(-35%);
  }

  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-35%);
  }

  100% {
    transform: translate(-70%);
  }
}
