@use "../abstracts/variables" as *;
@use "../layout/grid" as *;
@use "../abstracts/mixins" as *;

.about {
  width: 85vw;
  margin: 0 auto;
  padding: 15rem 0;

  @include respond(phone) {
    width: 100vw;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 6rem;
    width: 60%;
    margin: 0 auto;
  }
  &__boxes {
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;

    &--heading {
      margin: 3rem 0 1.5rem 0;
    }

    &--text {
      font-size: 1.6rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;

    @include respond(tab-port) {
      flex-direction: column;
      width: 60%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &--img {
      width: 40%;
      margin-right: 3rem;
      @include respond(tab-port) {
        width: 70%;
      }
    }

    &-text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--text {
      font-size: 1.6rem;
      font-weight: 700;
      padding-right: 8rem;
      margin-bottom: 2rem;
      z-index: 100;
      @include respond(tab-port) {
        padding: 0;
      }
      @include respond(phone) {
        text-align: center;
        padding: 0 3rem;
      }
    }
    &--link {
      font-size: 1.6rem;
      @include respond(phone) {
        display: inline-block;
        text-align: center;
        width: 100%;
      }

      &-icon {
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      &:active,
      &:visited {
        color: $color-accentCyan;
      }
    }
    &--testimonial {
      width: 90%;

      margin: 15rem auto 5rem auto;
      z-index: 100;
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 3rem;
      @include respond(tab-port) {
        width: 60%;
      }

      &-boxes {
        height: 20rem;
        padding: 2rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-testiBG;
      }

      &--text {
        font-size: 1.6rem;
        font-weight: 400;
        margin: 1.5rem 0;
      }
      &-icon {
        position: absolute;
        top: -18%;
        left: -1%;
        z-index: -1;
        @include respond(tab-land) {
          top: -5%;
        }
      }
      &-author {
        display: flex;
        align-items: center;
        &--img {
          width: 4rem;
          border-radius: 50%;
          margin-right: 1.5rem;
        }
        &-box {
          &-name {
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
