@use "./base" as *;
@use "./typography" as *;

.img-box {
  width: 100%;
  border-radius: 20px;
}

.container {
  display: flex;
  max-height: 45rem;
  max-width: 60rem;
  background-color: $color-White;

  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 10px;

  @media only screen and (max-width: 38.125em) {
    width: 30rem;
    display: block;
    max-height: 61rem;
  }
}

.photo {
  &-main {
    &-1 {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: -10px;

      @media only screen and (max-width: 38.125em) {
        display: none;
      }
    }
    &-2 {
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
      display: none;
      @media only screen and (max-width: 38.125em) {
        display: block;
      }
    }
  }
}

.details {
  max-width: 50%;

  display: grid;
  grid-row-gap: 1rem;
  padding: 3rem;
  justify-content: space-evenly;
  @media only screen and (max-width: 38.125em) {
    max-width: 100%;
  }
  &__type {
    text-transform: capitalize;
    color: $color-Dark-grayish-blue;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }
  &__header {
    font-size: 3.5rem;
    line-height: 1;
    font-family: $font-secondary;
  }
  &__text {
    font-size: 1.5rem;
  }
  &__price-box {
    display: flex;
    align-items: center;

    &--actual {
      font-family: $font-secondary;
      font-size: 3rem;
      color: $color-Dark-cyan;
      font-weight: 700;
      margin-right: 2rem;
    }
    &--original {
      font-size: 1.3rem;
      text-decoration: line-through;
    }
  }
}

.button {
  background-color: $color-Dark-cyan;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  color: $color-White;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  &__cart {
    margin-right: 1rem;
  }
}

.attribution {
  margin-top: 3rem;
}
