@use "./base" as *;
@use "./typography" as *;

.container {
  display: flex;
  height: 70rem;
  max-width: 130rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 8rem;
  @media only screen and (max-width: 65.25em) {
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }

  @media only screen and (max-width: 48em) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  @media only screen and (max-width: 36.25em) {
    padding: 2rem;
    grid-template-columns: minmax(20rem, min-content);
  }

  &__header-box {
    width: 60rem;
    @media only screen and (max-width: 36.125em) {
      max-width: 100%;
    }
    &--header {
      font-size: 7rem;
      color: $color-VeryDarkMagenta;
      line-height: 1;
      align-self: self-end;
      @media only screen and (max-width: 65.25em) {
        font-size: 9rem;
      }
    }
    &--text {
      font-size: 2.4rem;
      color: $color-DarkGrayishMagenta;
      margin-top: 3rem;
    }
  }

  &__ratings {
    align-self: center;

    @media only screen and (max-width: 65.25em) {
      align-self: flex-end;
    }
    @media only screen and (max-width: 48em) {
      margin-top: 5rem;
    }
    @media only screen and (max-width: 36.125em) {
      margin: 0 auto;
      margin-top: 5rem;
    }

    &-box {
      display: flex;
      background-color: $color-LightGrayishMagenta;
      margin-right: 3rem;
      margin-bottom: 2rem;
      padding: 1.5rem 3rem;
      max-width: 100%;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);

      @media only screen and (max-width: 36.125em) {
        flex-direction: column;
        width: 100%;
      }
      &-star {
        margin-right: 5rem;
        @media only screen and (max-width: 36.125em) {
          margin-right: 0;
        }
      }
      &--icon {
        margin-right: 0.5rem;
      }
      &--text {
        font-size: 2rem;
        font-weight: 700;
        color: $color-VeryDarkMagenta;
      }
    }
  }

  &__top-box {
    grid-column: 1 / span3;
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
    @media only screen and (max-width: 65.25em) {
      flex-direction: column;
      grid-column: 1;
      grid-row: 1/-1;
      align-items: center;
      text-align: center;
    }
    @media only screen and (max-width: 48em) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__user-reviews {
    border-radius: 10px;
    background-color: $color-VeryDarkMagenta;
    padding: 3rem;
    grid-row: 2;
    align-items: end;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 48em) {
      width: 60%;
      margin: 0 auto;
    }

    &--author {
      display: flex;
      justify-self: start;
      &-box {
        &-name {
          color: $color-White;
          font-size: 2rem;
        }
        &-status {
          color: $color-SoftPink;
          font-size: 1.4rem;
        }
      }
    }

    &--text {
      font-size: 2rem;
      color: $color-White;
      margin-top: 2rem;
    }
    &--img {
      border-radius: 50%;
      width: 6rem;
      margin-right: 3rem;
    }
  }
}

.user-1 {
  transform: translateY(-3rem);
}

.user-2 {
  transform: translateY(-1.5rem);
}

.box-1 {
  transform: translateX(-16rem);
}

.box-2 {
  transform: translateX(-8rem);
}

@media only screen and (max-width: 65.25em) {
  .user-1 {
    transform: translateY(0);
    grid-column: 2;
    grid-row: 1;
  }

  .user-2 {
    transform: translateY(0);
    grid-column: 2;
    grid-row: 2;
  }
  .user-3 {
    grid-column: 2;
    grid-row: 3;
  }
}

@media only screen and (max-width: 48em) {
  .user-1 {
    grid-column: 1;
    grid-row: 4;
  }

  .user-2 {
    grid-column: 1;
    grid-row: 5;
  }
  .user-3 {
    grid-column: 1;
    grid-row: 6;
  }
}

@media only screen and (max-width: 36.125em) {
  .box-1 {
    transform: translateX(0);
  }

  .box-2 {
    transform: translateX(0);
  }
}
